@import url('https://fonts.cdnfonts.com/css/common-pixel');

body {
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/023/229/887/original/tolunay-genc-forest.gif?1578523234');
}

form {
    width: 200px;
    margin: 20px auto;
}

input {
    width: 100%;
    padding: 10px;
}

.poke-card {
    position: relative;
    height: fit-content;
    font-family: 'Common Pixel', sans-serif;
    font-size: 3.6vh;
    max-width: 300px;
    border-radius: 4px;
    color: rgb(34, 7, 109);
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: rgb(115, 180, 223);
    border: 2px solid rgb(255, 0, 0);
    box-shadow: 80px 80px 1000px 80px  rgb(157, 223, 243);
}

.img-container {
    position: relative;
    width: 180px;
    margin: 10px auto;
}

.poke-stats div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 2.3vh;
    margin-bottom: 1vh;
}

.poke-types div {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid black;
}

.poke-img {
    height: 200px;
    border-radius: 50%;
}

.fundo{
    height: 3vh;
}